In [1]:
import random
import itertools as it
import pandas as pd
import numpy as np

In [7]:
real_genre = 'some genre'

## Get user input

# full list of available genres
genre_list = ['Abstract Expressionism',
 'Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']
genre_list

['Abstract Expressionism',
 'Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']

In [9]:
list=random.shuffle(genre_list)

In [10]:
print(list)

None

In [10]:
df=pd.DataFrame(index=np.arange(10), columns=np.arange(5))

In [11]:
df

     0    1    2    3    4
0  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN  NaN
6  NaN  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN  NaN
8  NaN  NaN  NaN  NaN  NaN
9  NaN  NaN  NaN  NaN  NaN

In [12]:
df.shape

(10, 5)

In [18]:
rows=df.shape[0]
index = random.randint(0,rows)

In [17]:
rows

10

In [21]:
df[0][index]

nan

In [26]:
df = df.rename(columns={0: 'newName1', 1: 'path'})

In [27]:
df

  newName1 path    2    3    4
0      NaN  NaN  NaN  NaN  NaN
1      NaN  NaN  NaN  NaN  NaN
2      NaN  NaN  NaN  NaN  NaN
3      NaN  NaN  NaN  NaN  NaN
4      NaN  NaN  NaN  NaN  NaN
5      NaN  NaN  NaN  NaN  NaN
6      NaN  NaN  NaN  NaN  NaN
7      NaN  NaN  NaN  NaN  NaN
8      NaN  NaN  NaN  NaN  NaN
9      NaN  NaN  NaN  NaN  NaN

In [28]:
df["path"]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: path, dtype: object

In [2]:
real_genre=['Abstract Expressionism']

full_genre_list = ['Abstract Expressionism',
 'Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']
# create new list removing real_genre to avoid duplicates

In [3]:
full_genre_list

['Abstract Expressionism',
 'Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']

In [4]:
genre_list=full_genre_list.remove(real_genre[0])

In [5]:
full_genre_list

['Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']

In [3]:
test_set = pd.read_csv("/home/quan/code/qnguyen-gh/smArt/smArt/data/4_class_v01.csv")

In [4]:
rows=test_set.shape[0]
index = random.randint(0,rows)

In [5]:
index

6166

In [6]:
real_genre = [test_set["genre"][index]]
real_genre[0]

'Romanticism'

In [7]:
full_genre_list = ['Abstract Expressionism',
 'Art Nouveau Modern',
 'Baroque',
 'Color Field Painting',
 'Cubism',
 'Expressionism',
 'Impressionism',
 'Naive Art Primitivism',
 'Northern Renaissance',
 'Pop Art',
 'Post Impressionism',
 'Realism',
 'Rococo',
 'Romanticism',
 'Symbolism']

In [8]:
genre_list=full_genre_list.remove(real_genre[0])
genre_list